html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
  overflow: hidden;
  background-image: url("/fond.png");
  background-color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
